@keyframes text2 {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: 0;
    width: 0;
  }
  /* Other animation is hidden for 75% of the time */
  50.1% {
    opacity: 1; 
    width: 0em;
  }

  60%, 100% {
    opacity: 1;
    width: 6em;
  }
}
@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 5em;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.text_1 {
  animation: text1 linear 1;
  animation-fill-mode: forwards;
}
.text_2 {
  animation: text2;
  animation-fill-mode: forwards;
}
.text_1 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, 40);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(60, end);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /*animation-delay: 2s;*/
}

.text_1::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 2s;
  animation-timing-function: steps(1, end);
}

.text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: 
    typing 2s steps(30, end),
    blink-caret .5s step-end infinite;
}

